<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.market">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="경매마켓"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Market"
        android:usesCleartextTraffic="true">
        <activity android:name=".auth.ConfirmActivity"
            android:exported="true"/>
        <activity
            android:name=".auth.FindPwActivity"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".HomeList.HomeListAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".board.BoardEditActivity"
            android:exported="true" />
        <activity
            android:name=".board.BoardActivity"
            android:exported="true" />
        <activity
            android:name=".auth.JoinActivity"
            android:exported="true" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>